services:

  mongo:
    image: mongo:8.2
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis

  app:
    build:
      context: ..
      dockerfile: ./.devcontainer/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ..:/app
    depends_on:
      - mongo
      - redis
    tty: true
    command: /bin/bash

  prometheus:
    image: prom/prometheus:v3.8.0
    volumes:
      - ../prometheus:/etc/prometheus
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'

volumes:

  mongo-data:
  prometheus-data:
