services:

  mongo:
    image: mongo:8.0.12
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis

  app:
    build:
      context: ..
      dockerfile: Dockerfile
      target: dev
    ports:
      - "8000:8000"
    volumes:
      - ..:/app
    depends_on:
      - mongo
      - redis
    tty: true
    command: /bin/bash

volumes:

  mongo-data:
