services:

  mongo:
    image: mongo:8.2
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:8.4

  app:
    build:
      context: ..
      dockerfile: ./.devcontainer/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ..:/app
    depends_on:
      - mongo
      - redis
    tty: true
    command: /bin/bash

volumes:
  mongo-data:
