name: Docker Image CI

on:
  push:
    branches:
      - master

jobs:

  check:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - name: Run containers.
        run: docker compose -f ./tests/docker-compose.yml up -d

      - name: Run lint
        run: docker compose -f ./tests/docker-compose.yml exec app uvx ruff check /app/src /app/tests

      - name: Run tests
        run: docker compose -f ./tests/docker-compose.yml exec app uv run pytest /app/tests

  deploy:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    needs: check
    steps:

      - uses: actions/checkout@v4

      - name: Log in to the container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.github_token }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/v2g:${{ github.sha }}
